<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap4/bootstrap.min.css">
    <script src="/static/boostrap4/boostrap.min.js"></script>
    <script src="/static/boostrap4/jquery.min.js"></script>
    <script src="/static/boostrap4/popper.min.js"></script>
    <title>candidate</title>
</head>
<body>
    <div class="container">
        <h1 class="alert-danger text-center">Candidate Details</h1>
        <div class="row">
            <div class="col-sm-10">
                <h3 class="text-center">Resume View</h3>
                <p class="float-end">Application No: {{candidate.id}}</p>
                <img src="{{candidate.profile_image.url}}" alt="" class="img-fluid img-thumbnail mt-2 " width="150" height="150" style="float: right;">
                <p>Name: {{candidate.name}}</p>
                <p>Date of Birth: {{candidate.DOB}}</p>
                <p>Gender: {{candidate.gender}}</p>
                <p>Email: {{candidate.email}}</p>
                <p>Address: {{candidate.address}}</p>
                <p>State: {{candidate.state}}</p>
                <p>City: {{candidate.state}}</p>
            </div>
        </div>
    </div>
    
</body>
</html>